.option {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  border: 1px solid #292929;
  border-radius: 10px;
  width: 36px;

  cursor: pointer;
}

.option:hover {
  background-color: #ffa800;
}

.option.disabled {
  background-color: #fcdc9d;
  border-color: #fcdc9d;
}

.active {
    border-color: #ffa800;
    background-color:  #ffa800;
}