.section {
  position: relative;
  padding-top: 61px;
  padding-bottom: 90px;
  z-index: 8;

  width: 100%;
  height: 575px;
  background: url(./assets/Subtract.png), rgba(255, 168, 0, 1);
  background-position: center center;
  background-size: cover;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
