.verification_section {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 45px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
}

.verification_title {
  font-size: 30px;
  line-height: 95px;
  margin: 0;
  padding-left: 30px;
  height: 95px;
  color: #292929;
  border-bottom: 1px solid #c4c4c4;
}

.verification_passenger {
  display: flex;
}

.verification_passenger_persons {
}

.passenger_card {
  background: #ffffff;
  display: flex;
  width: 586px;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  padding-top: 30px;
  padding-bottom: 34px;
  border-right: 1px dashed #e5e5e5;
}

.passenger_card:last-child {
  border-bottom: none;
}

.passenger_card ~ .passenger_card {
  border-top: 1px dashed #e5e5e5;
}

.passenger_card_header {
  width: 156px;
  text-align: center;
}

.passenger_card_title {
  margin: 17px 0 0;
  font-size: 18px;
  color: #292929;
}

.passenger_card_content {
}

.passenger_card_content_title {
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  margin: 0 0 18px;
}

.passenger_card_content_text {
  color: #928f94;
  margin: 0 0 5px;
}

.verification_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.verification_price_wrapper {
  margin-bottom: 28px;
  margin-right: 28px;
}

.verification_price_name {
  margin: 0 15px 0 0;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
  display: inline-block;
}

.verification_price_sum_value {
  font-size: 30px;
  line-height: 35px;
  color: #292929;
}

.verification_button {
  height: 39px;
  margin-left: 25px;
  margin-bottom: 24px;
  padding: 0 60px 0 60px;
  font-size: 24px;
  color: #292929;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #292929;
}

.verification_button:hover {
  border: 1px solid #292929;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffa800;
}

.verification_price_wrapper ~ .verification_button {
  margin-right: 22px;
  margin-bottom: 24px;
}

.verification_button:active {
  color: #292929;
  border: none;
  background: #ffa800;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.verification_content {
    display: flex;
}

.verification_payment {
    width: 586px;
    padding: 44px 33px 76px;
    font-size: 24px;
    color: #292929;
    border-right: 1px dashed #e5e5e5;
}

.verif_payment_btn_wrapper {
    display: flex;
    align-items: flex-end;
}

.btn {
  padding: 16px 70px;
  border-radius: 5px;
  font-weight: 700;
  border: 1px solid #ffa800;
  background-color: #ffa800;
  color: #ffff;
}

.btn:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.btn:active {
  background-color: inherit;
  color: #ffa800;
}

.btnContainer {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}