.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}



.inputs div {
  width: 325px;
}

.input {
  position: relative;
}

.inputs img{
  cursor: pointer;
}