.MainInfo {
  margin-top: 253px;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 104px;
}

.form {
  width: 729px;
  height: 574px;
  background-color: rgba(41, 41, 41, 0.8);
}
