.listManagement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listManagement span {
    color: rgba(146, 143, 148, 1);

}

.sortSection {
    display: flex;
    column-gap: 40px;
}

/*sort */
.sort {
    display: flex;
    column-gap: 8px;
}


.dropdown {
  cursor: pointer;
}

.dropdown-item {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.dropdown-item:hover {
  background-color: rgba(255, 202, 98, 1);
  color: white;
}

.dropdown-menu {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btns {
  display: flex;
  max-width: 100px;
  column-gap: 8px;
}

.btn {
  background-color: inherit;
  color: rgba(146, 143, 148, 1);
  border: none;

  margin: 0;
  padding: 0;
}

.btn-primary {
  --bs-btn-hover-bg: inherit;
  --bs-btn-bg: inherit;
  --bs-btn-active-bg: inherit;
  --bs-btn-active-color: rgba(41, 41, 41, 1);
  border: none;
  --bs-btn-color: rgba(41, 41, 41, 1);
}

.form-select {
  border: none;
  --bs-form-select-bg-img: none;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select option {
  padding: 5px 15px;
}

.form-select:focus {
  border: none;
}
