.typeCoach {
  margin-top: 27px;
  padding-bottom: 73px;
}

.typeCoachTitle {
  padding-left: 19px;
  padding-bottom: 19px;
  margin: 0;
}

.types {
  padding: 0px 35px;
}

.inActive {
  font-size: 24px;
  font-weight: 400;

  color: rgba(146, 143, 148, 1);
}

.active {
  font-size: 24px;
  font-weight: 400;

  color: rgba(255, 168, 0, 1);
}

.typeCoachItem {
    display: flex;
    justify-content: center;
}

.typeCoachItemLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}